.navbar {
    overflow: hidden;
    background-color: snow;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 1px;

}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    line-height: 40px;
    background: white;
}
menu li {
    display: inline;
}
footer {
    text-align: center;
    color: black;
    font-size: 60%
}
h1 {
    margin-left: 1px;
    color: black;
    font-family: Verdana, Geneva, sans-serif;
}
p{
    font-size: 70%;
    width: 1208px;
    margin-left: 1px;
}
main {
    width:960px;
}