html{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
    line-height: 51px;
    background-color: snow;
    opacity: 0.7;

}
.navbar {
    overflow: hidden;
    background-color: snow;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 170px;

}
.navbar a {
    float: left;
    display: block;
    color: darkslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body{
    font-family: Verdana, Geneva, sans-serif;
}
menu li {
    display: inline;
}
footer {
    text-align: center;
    color: black;
    font-size: 80%
}
h1 {
    text-align: center;
    font-size: 200%;
    color: dimgray;
    font-family: Verdana, Geneva, sans-serif;
}
p{
    font-size: 90%;
    width: 1450px;
    margin: auto;
}